.qq-root {
    background-color: rgb(188, 188, 188);
    position: fixed;
    bottom: 0;
    right: 3em;
    width: 15em;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#qq-slides {
    margin-bottom: 10px;
}

#qq-slides p {
    margin-top: 0;
}

#qq_opq_slide_answer {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#qq-controls {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
}

#qq-controls button {
    flex: auto;
}

#qq-controls > button:first-child {
    margin-right: 2em;
}

#qq-controls > button:last-child {
    margin-left: 2em;
}

.qq-root {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.qq-root { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

.qq-root-close {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.qq-root-close { animation-name: fadeOutBottom }
@keyframes fadeOutBottom {
    from {
        opacity: 1;
        transform: translateY(0%);
    }
    to { opacity: 0 }
}

.rate {
    display: table;
    margin: 0 auto;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}