.qq-root {
    width: 25em;
    padding: 0.5em;
}

#qq-slides {
    margin-bottom: 10px;
}

#qq-slides p {
    margin: 0;
}

#qq-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#qq-controls button {
    flex: 1;
}

button {
    margin: 0 3em;
}